.titulo{
    font-size: 72px;
}
.btn-texto{
    border: 1px solid transparent;
    border-radius:0.35rem;
    color: aliceblue;
    background: #000;
    font-weight: 700;
    margin: 1.5em 0;
    padding: 0.65rem 1.2rem;
}
.btn-texto:hover{
    background: transparent;
    border: 1px solid #000;
    color: #000;
}
.img-homem{
    margin: 3em 0;
}

@media (min-width: 768px) and (max-width: 979px) {
    .titulo{
        font-size:15px;
        font-weight: 700
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .titulo{
        font-size:25px;
        font-weight: 700
    }
    .paragrafo{
        text-align: center;
        padding: 1em;
    }
    .icons-div{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5em
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .titulo{
        font-size:35px;
        font-weight: 700;
    }
    .paragrafo{
        text-align: center;
        padding: 1em;
    }
    .btn-texto{
        margin:0 0 2em 0;
    }
}